name: Deploy WordPress to EC2 via ECR + SSM

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag and push image to ECR
      run: |
        IMAGE_TAG=latest
        docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REPOSITORY:$IMAGE_TAG

    - name: Deploy container via SSM
      run: |
        INSTANCE_ID="i-041d7e1ff1251ce50"
        aws ssm send-command \
          --instance-ids "$INSTANCE_ID" \
          --document-name "AWS-RunShellScript" \
          --comment "Deploy WordPress" \
          --parameters 'commands=[
            "docker pull '"$ECR_REPOSITORY"':latest",
            "docker stop wp || true",
            "docker rm wp || true",
            "docker run -d --name wp -p 80:80 '"$ECR_REPOSITORY"':latest"
          ]' \
          --output text
